@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

#root {
  background-color: #444;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root.carousel {
  background-color: #222;
  color: #ddd;
  overflow: hidden;
}

#root.cordova {
  font-size: 0.75em;
}

button {
  background-color: #666;
  border: 1px solid #111;
  color: white;
  padding: 0.3em 0.4em;
  font-size: 1em;
  margin: 0.5em 0.3em;
  line-height: 1em;
  border-radius: 0.2em;
  transition: all 0.3s;
}

.carousel button {
  border: none;
  border-radius: 0;
}

.carousel button:focus {
  outline: none;
  background-color: #eee;
}

input:focus,
select:focus {
  outline-width: 0.3em;
}

button:hover {
  background-color: #777;
  border-color: rgba(0, 0, 0, 0.2);
}

button:hover,
.pointer {
  cursor: pointer;
}

:focus {
  outline: 0.2em solid rgb(70, 170, 230);
  border-color: rgb(70, 170, 230);
  transition: outline 0.15s;
}

.carousel :focus {
  border-color: #ddd;
  outline-color: #ddd;
}

[tabindex^='-']:focus {
  outline: none;
}

progress {
  margin: 0 0.5em;
  filter: grayscale();
  width: 10em;
  min-width: 10em;
}

::-webkit-scrollbar {
  height: 0.4em;
  width: 0.4em;
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0.15em;
}

.green {
  color: greenyellow;
}
.red {
  color: red;
}
.orange {
  color: #e5a00d;
} /* Plex orange */
.gray {
  color: gray;
}
.purple {
  color: magenta;
}

.bold {
  font-weight: bold;
}

.medium {
  font-size: 1.5em;
}
.large {
  font-size: 2em;
}

.react-icons {
  vertical-align: middle;
}

input,
select {
  margin: 0 0.6em;
  background-color: #666;
  border: none;
  transition: all 0.3s ease;
  padding: 0.5em;
  border-color: gray;
  border-radius: 3px;
}

input {
  width: 11.25em;
  height: 1.5em;
}

.cordova input {
  height: 1em;
}

select {
  width: 7em;
  height: 2.5em;
}

.cordova select {
  height: 2.2em;
}

input,
select,
input::placeholder {
  color: #ccc;
}

input:focus::placeholder,
input:hover::placeholder {
  color: #888;
}

input:focus,
select:focus,
.standard input:hover,
.standard select:hover {
  background-color: #eee;
  color: #333;
}

.carousel input:focus,
.carousel select:focus {
  outline: none;
}

input:disabled,
select:disabled {
  background-color: #aaa;
}

.spacer {
  flex: 1;
}
