.movie {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 13em;
  margin: 0.6em;
}

.movie.carousel {
  margin: 0.2em;
}

.movie:not(.disabled):hover {
  cursor: pointer;
}

.movie a {
  color: white;
  text-decoration: none;
}

.cover {
  border: 0.1em solid #777;
  border-radius: 0.2em;
  width: 13em;
  height: 19.5em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.4em;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  transform: scale(1);
}

.carousel .cover {
  border-color: #555;
}

.carousel .fileExists {
  border: none;
}

.cover:focus,
.cover.selected:focus {
  border-color: rgb(70, 170, 230);
  outline-width: 0.2em;
  border-radius: 0;
}

.carousel .cover.selected {
  border-color: #eee;
}

.cover.selected {
  border-color: #66e646;
}

.movie.carousel .cover,
.movie.carousel .cover .movieCover {
  height: 8em;
  width: 5.3em;
}

.movie:not(.disabled) .cover:hover {
  box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.4);
  transform: scale(1.025);
}

.movieCover {
  position: absolute;
  z-index: -1;
  height: 19.5em;
  margin: auto;
  left: -50%;
  right: -50%;
}

.movieIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.quality {
  margin-left: auto;
  text-align: right;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 0.25em 0.4em;
  border-radius: 0.2em;
}

.fileExists {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.25em;
  background-color: #e5a00d;
  border-top-right-radius: 0.2em;
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
  transition: all 0.5s ease;
  cursor: pointer;
}

.fileExists.hover:hover {
  box-shadow: 0px 0px 8px 8px rgba(229, 160, 13, 0.9);
}

.fileExists:focus {
  background-color: rgb(70, 170, 230);
}

.notSubscribed {
  background-color: #555;
  color: #999;
}

.quality button {
  margin: 0.3em;
}

@media (max-width: 680px) {
  .movie {
    max-width: 8.66em;
  }

  .cover {
    width: 8.66em;
    height: 13em;
  }

  .movieCover {
    height: 13em;
  }
}
