.menu {
  display: flex;
  align-items: flex-start;
  text-align: left;
  position: sticky;
  top: 0;
  left: 0;
  width: 350px;
  height: calc(100vh - 1em - 0.2em);
  overflow-y: auto;
  z-index: 2;
  transform: none;
  transition: all 0.5s;
  will-change: transform;
  font-size: 1.35em;
  background-color: #666;
  padding: 0.5em;
  border: 0.1em solid #333;
  box-shadow: 0 0 1em black;
  margin-bottom: -100vh;
}

.menu.hidden {
  transform: translateX(-100%);
  box-shadow: none;
  overflow-y: unset;
}

.menu .spacer {
  min-width: 3em;
}

.menu .list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  justify-content: flex-start;
}

.menu .list .item, .menu .toggleWrap {
  border-radius: 0.2em;
  padding: 0.3em 0.75em;
  display: flex;
  align-items: center;
  margin: 0.15em 0;
}

.menu .toggleWrap {
  border-bottom: 2px solid #444;
  margin-bottom: 0.5em;
}

.menu .toggle {
  cursor: pointer;
  transform: translateX(0.5em);
  transition: all 0.25s;
  will-change: transform;
}

.menu .toggle .toggleButton {
  padding: 0.35em 0;
}

.menu.hidden .toggle {
  transform: translateX(200%);
}

.menu.menu.hidden .toggle .toggleButton {
  padding: 0.35em;
  border-radius: 0.1em;
  transition: all 0.25s;
}

.menu.hidden .toggle .toggleButton:hover {
  background: #666;
}

.menu .toggle .warn {
  position: relative;
  top: -0.65em;
  right: 0.5em;
  margin-right: -0.75em;
  font-size: 0.75em;
}

.menu.hidden .toggle .warn {
  right: 1em;
  margin-right: -1em;
  pointer-events: none;
}

.menu .list .item {
  cursor: pointer;
}

.menu .list .item.disabled {
  cursor: auto;
}

.menu .list .item.selected {
  background: #333;
}

.menu .list .item:not(.selected):not(.disabled):hover {
  background: #555;
}

.menu .list .item span {
  margin-left: 0.5em;
}

.menu .downloads {
  position: relative;
}

.menu .downloads .counter {
  position: absolute;
  padding: 0.2em 0.35em;
  border-radius: 0.3em;
  left: 0.15em;
  top: 0.15em;
  font-size: 0.7em;
  font-family: 'Ubuntu', Arial, sans-serif;
  background: greenyellow;
  color: navy;
}

.menu .status {
  padding-top: 0.75em;
  margin-top: 0.5em;
  border-top: 2px solid #444;
}

.menu .status p {
  font-size: 0.65em;
  margin: 0;
}

.slider {
  background: transparent;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 100vh;
  margin-bottom: -100vh;
}