.message {
  font-size: 2.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning {
  padding: 1em 0 0.25em 0;
}

.warning .big {
  font-size: 4em;
}

.warning div span {
  padding-left: 0.25em;
}

.warning div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cordovaDev {
  position: absolute;
  top: 1.3em;
  right: 0.8em;
  font-size: 1.3em;
  font-weight: bold;
  color: lime;
}

.cordovaDev svg {
  margin-top: -0.15em;
  margin-right: 0.35em;
}

.arrow {
  font-size: 1.25em;
}

.arrow:hover {
  cursor: pointer;
}

.marginLeft {
  margin-left: 1.25em;
}

#overlay {
  overflow-y: hidden;
  padding: 0;
}

.movie-list {
  padding: 1em 0;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Backup in case js doesn't work properly in render */
.movie-list.standard {
  max-height: 85vh;
}

.movie-list.carousel {
  padding: 0;
  margin: 0 0.25em;
  min-height: 9.5em;
  margin-bottom: 1em;
}

.carousel .carouselTop {
  transition: all 0.5s;
  max-height: 30em;
}

.carouselTop.collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

/* Disable scrolling when menu open */
.movie-list.noscroll {
  overflow: hidden;

  /* fix scrollbar hidden at least for chrome, mac/ios might do weird stuff now instead */
  margin-right: 0.4em;
}
