.message {
    font-size: 2.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning {
    padding: 1em 0 0.25em 0;
}

.warning .big {
    font-size: 4em;
}

.warning div span {
    padding-left: 0.25em;
}

.warning div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 1.25em;
}

.arrow:hover {
    cursor: pointer;
}

.footer {
    font-size: 0.85em;
}

.footer p {
    margin: 0.75em;
}

.footer hr {
    margin: 1em;
}

.marginLeft {
    margin-left: 1.25em;
}

#modal {
    max-height: 90vh;
    overflow-y: auto;
}

#modalFullscreen {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background: unset;
    background-color: #222;
    background-position: center;
    background-size: cover;
    padding: 0;
}

#modalFullscreen svg {
    fill: #bbb;
    stroke: #bbb;
}

#overlay {
    overflow-y: hidden;
    padding: 0;
}

.movie-list {
    padding: 1em 0;
}