.pirateList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pirateRow {
  padding: 0.3em;
  margin: 0.75em 0;
  background-color: #555;
  display: flex;
  align-items: center;
  width: 90vw;
  max-width: 1100px;
  border-radius: 0.2em;
}

.pirateRow .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pirateRow div:not(.spinner):not(.spacer) {
  margin: 0 0.5em;
}

.pirateRow .progress {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.pirateRow .size, .pirateRow .categories {
  white-space: nowrap;
}

.pirateRow .spacer {
  flex-grow: 1;
}

.pirateRow .categories {
  min-width: 8em;
}

@media (max-width: 900px) {
  .pirateRow .size, .pirateRow .categories {
    display: none;
  }
  .pirateRow div {
    margin: 0 0.25em;
  }
}