.search {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5em 3em;
    background-color: #444;
    border-bottom: 4px solid #333;
}

.search button {
    margin-top: 0.35em;
}

.search .form, .searchItem  {
    display: inline-block;
    margin-top: 0.15em;
}

.search .form, .searchItem span {
    margin-left: 0.75em;
}

@media (max-width: 570px) {
    .search .form, .searchItem {
        display: block;
        margin-bottom: 0.35em;
    }

    .search {
        position: initial;
        padding: 1.5em 0 0.75em 0;
    }

    .search .spinner.invisible {
        display: none;
    }
}