.streamList {
  overflow: hidden;
  padding: 10px 16px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.streamList .list,
.streamList .player {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 8px;
}

.streamList .list .item {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  margin: 3px;
  border-radius: 3px;
  background: #555;
}

.streamList .list .item .space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.streamList .list .item svg {
  margin-right: 6px;
}

.streamList .list a {
  color: white;
  text-decoration: unset;
}

.streamList .player {
  align-items: center;
}

.streamList .player .controls {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.streamList .player .controls svg {
  margin: 0 10px;
}

.streamList .player video {
  width: 95vw;
  height: 60vh;
  background: black;
}

.streamList .searchbar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.streamList .searchbar input {
  margin-right: 10px;
}

.streamList hr {
  width: 99%;
  margin: 18px auto;
}
