.streamList {
  overflow: auto;
  padding: 10px 16px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.streamList .list,
.streamList .player {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 8px;
}

.streamList .list .item {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  margin: 3px;
  border-radius: 3px;
  background: #555;
  position: relative;
}

.streamList .list .item:hover .file,
.streamList .list .item:focus .file {
  opacity: 1;
}

.streamList .list .item .space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.streamList .list .item svg {
  margin-right: 6px;
  flex-shrink: 0;
}

.streamList .list a {
  color: white;
  text-decoration: unset;
}

.streamList .list .item .file {
  position: absolute;
  bottom: 2em;
  right: -0.25em;
  padding: 0.25em 0.5em;
  background: #777;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  max-width: 50vw;
  text-align: right;
  overflow: hidden;
  word-break: break-all;
  transition: opacity 0.15s;
}

.streamList .player {
  align-items: center;
}

.streamList .player .controls {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.streamList .player .controls svg {
  margin: 0 10px;
}

.streamList .player video {
  width: 95vw;
  height: 60vh;
  background: black;
}

.streamList .searchbar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.streamList .searchbar input {
  margin-right: 1.25em;
}

.streamList hr {
  width: 99%;
  margin: 18px auto;
}
