.message {
    font-size: 2.5em;
    height: 2.5em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.warning {
    font-size: 4em;
}

.warning span {
    padding-left: 0.25em;
}

.arrow {
    font-size: 1.25em;
}

.arrow:hover {
    cursor: pointer;
}

.footer {
    font-size: 0.85em;
}

.footer p {
    margin: 0.75em;
}

.footer hr {
    margin: 1em;
}

.marginLeft {
    margin-left: 1em;
}