.message {
    font-size: 2.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning {
    font-size: 4em;
}

.warning span {
    padding-left: 0.25em;
}

.arrow {
    font-size: 1.25em;
}

.arrow:hover {
    cursor: pointer;
}

.footer {
    font-size: 0.85em;
}

.footer p {
    margin: 0.75em;
}

.footer hr {
    margin: 1em;
}

.marginLeft {
    margin-left: 1.25em;
}

#modal, #popcornModal {
    max-height: 90vh;
    overflow-y: auto;
}

#popcornModal {
    padding-top: 2.5em;
    color: black;
}

#popcornTop {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #FC6600;
    position: absolute;
    top: 0.5em;
    left: 0.3em;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
}

#popcornTop img {
    padding-right: 0.25em;
    width: 2em;
    height: 2em;
}